{% extends "userprofile/base.html" %}

{% block title %}Malt{% endblock %}

{% block content %}

<center><h3>{{ drinker }}'s stats</h3></center>

<font>
  <table>
    <tr>
      <td><b>Volume:</b> </td>
      <td>{{ volume_ml }} ml</td>
    <tr>
    <tr>
      <td><b> Cost: </b></td>
      <td>&euro;  {{ total_cost }} </td>
    </tr>
    <tr>
      <td><b> Cost per drink: </b></td>
      <td>&euro;  {{ average_cost_per_drink }} </td>
    </tr>
  </table>
</font>

<center><h4>{{ drinker }}'s drinks</h4></center>

  {% if drinks %}
    <table id="myTable" class="tablesorter">
      
      <thead>
        <tr>
          <th><b>Whisky</b></th>
          <th><b>Age</b></th>
          <th><b>Volume</b></th>
          <th><b>Price</b></th>
          <th><b>Bottle</b></th>
          <th><b>Date</b></th>
        </tr>
      </thead> 
      
      <tbody>
      {% for drink in drinks %}
        <tr>
          <td><b>{{ drink.bottle.whisky.distillery }}</b></td>
          <td><b>{{ drink.bottle.whisky.age|floatformat }}</b></td>
          <td>{{ drink.volume_int }} ml</td>
          <td>&euro; {{ drink.price }}</td>
          <td> <a href="/malt/collection/bottle/{{ drink.bottle.id }}/">{{ drink.bottle.id }}</a> </td>
          <td>{{ drink.date|date:"SHORT_DATE_FORMAT" }}</td>
        </tr>
      {% endfor %}
      </tbody>
    
    </table>

  {% else %}
      <p>No drinks in the database.</p>
  {% endif %}


<center><img src="/malt/userprofile/plot/history/{{ drinker.id }}.png"></img></center>

{% endblock %}
