{% extends "userprofile/base.html" %}

{% block title %}Malt{% endblock %}

{% block content %}

<center>
  <h3>{{ drinker }}'s stats</h3>
</center>
<br />
<center>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <table class="table">
        <tr>
          <td>Volume</td>
          <td><b>{{ volume_ml }} ml</b></td>
        <tr>
        <tr>
          <td>Cost</td>
          <td><b>&euro; {{ total_cost }}</b></td>
        </tr>
        <tr>
          <td>Cost per drink (50ml)</td>
          <td><b>&euro; {{ average_cost_per_50ml }}</b></td>
        </tr>

      </table>
    </div>
  </div>
</center>

<center><h3>{{ drinker }}'s balance</h3></center>
<br />
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <table class="table">
      <tr>
        <td>Balance</td>
        <td><b>&euro; {{ balance }}</b></td>
      </tr>
      <tr>
        <td>Paid</td>
        <td><b>&euro; {{ total_paid }}</b></td>
      </tr>
      <tr>
        <td>Spent</td>
        <td><b>&euro; {{ total_cost }}</b></td>
      </tr>
    </table>
  </div>
</div>


<br/>
<center><h3>{{ drinker }}'s history</h3></center>
<center><img src="/userprofile/plot/history/{{ drinker.id }}.png"></img></center>
<center><h3>{{ drinker }}'s regions</h3></center>
<center><img src="/userprofile/plot/region/{{ drinker.id }}.png"></img></center>

<center><h3>{{ drinker }}'s drinks</h3></center>

  {% if drinks %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <table class="table table-striped">
        
        <thead>
          <tr>
            <th><b>Whisky</b></th>
            <th><b>Age</b></th>
            <th><b>Volume</b></th>
            <th><b>Price</b></th>
            <th><b>Bottle</b></th>
            <th><b>Date</b></th>
          </tr>
        </thead> 
        
        <tbody>
        {% for drink in drinks %}
          <tr>
            <td><b>{{ drink.bottle.whisky.distillery }}</b></td>
            <td><b>{{ drink.bottle.whisky.age|floatformat }}</b></td>
            <td>{{ drink.volume_int }} ml</td>
            <td>&euro; {{ drink.price }}</td>
            <td> <a href="/collection/bottle/{{ drink.bottle.id }}/">{{ drink.bottle.id }}</a> </td>
            <td>{{ drink.date|date:"Y-m-d" }}</td>
          </tr>
        {% endfor %}
        </tbody>
      
      </table>
    </div>
  </div>
  

  {% else %}
      <p>No drinks in the database.</p>
  {% endif %}

{% endblock %}
