{% extends "userprofile/base.html" %}

{% block title %}Malt{% endblock %}

{% block content %}

<center>
  <h3>{{ drinker }}'s stats</h3>
</center>
<br />
<center>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <table class="table">
        <tr>
          <td>Volume</td>
          <td><b>{{ volume_ml }} ml</b></td>
        <tr>
        <tr>
          <td>Cost</td>
          <td><b>&euro; {{ total_cost }}</b></td>
        </tr>
        <tr>
          <td>Cost per drink (50ml)</td>
          <td><b>&euro; {{ average_cost_per_50ml }}</b></td>
        </tr>

      </table>
    </div>
  </div>
</center>

<center><h3>{{ drinker }}'s history</h3></center>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <img src="/userprofile/plot/history/{{ drinker.id }}.png" class="img-responsive"></img>
  </div>
</div>

<center><h3>{{ drinker }}'s regions</h3></center>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <img src="/userprofile/plot/region/{{ drinker.id }}.png" class="img-responsive"></img>
  </div>
</div>

<center><h3>{{ drinker }}'s drinks</h3></center>


{% if drinks %}
<div class="row">
  {% for drink in drinks %}
  <div class="col-sm-3" align="center">
    <hr/>
    <h4><a href="/collection/bottle/{{ drink.bottle.id }}/">{{ drink.bottle.whisky.distillery }}</a></h4>
    <h4>{{ drink.bottle.age_int }}</h4>
    <a href="/collection/bottle/{{ drink.bottle.id }}"><img src="{{ drink.bottle.imagename }}" height="100"/></a>
    <br/>
    <br/>
    &euro; {{ drink.price }}
    <h4><a href="/userprofile/stats/{{ drink.user.id }}/">{{ drink.user }}</a></h4>
  </div>
  {% endfor %}
</div>
  
<center><h3>{{ drinker }}'s balance</h3></center>
<br />
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <table class="table">
      <tr>
        <td>Balance</td>
        <td><b>&euro; {{ balance }}</b></td>
      </tr>
      <tr>
        <td>Paid</td>
        <td><b>&euro; {{ total_paid }}</b></td>
      </tr>
      <tr>
        <td>Spent</td>
        <td><b>&euro; {{ total_cost }}</b></td>
      </tr>
    </table>
  </div>
</div>

{% else %}
  <p>No drinks in the database.</p>
{% endif %}

{% endblock %}
