<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
  <title>Malt</title>
  <style type="text/css">
  <!--
  @import url("{{ STATIC_URL }}style.css");
  -->
  </style>
  
  <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery-1.8.3.min.js"></script> 
  <script type="text/javascript" src="{{ STATIC_URL }}jquery/tablesorter/jquery.tablesorter.js"></script> 

  <script type="text/javascript" id="js">
    $(document).ready(function() 
      { 
        $("#myTable").tablesorter({widgets: ['zebra']});
      } 
    ); 
  </script>

</head>

<!-- <body bgcolor="#f2f4f5"> -->
 <body bgcolor="#f5f8fc"> 

  <div id="container">

    <div id="header">
      <font id="logotitle" ><b>Malt</b></font></br>
      <font id="logosubtitle" ><b>Malted Alcoholic Liquid Tracker</b></font>
    </div>

    <div id="login">
    	{% if not isLoggedin %}
    	  <font id="loginfont"><b>You are not logged in.</b></font>
    	  <a href="/malt/login/" id="loginlink">[login]</a> 
    	  <a href="/malt/register/" id="loginlink">[register]</a>  
    	{% endif %}
    	{% if isLoggedin %}
    	  <font id="loginfont"><b>You are signed in as </b></font>
    	   <a href="/malt/userprofile/edit/{{ user.id}}" id="usernamelink"><b>{{ user.username }}</b></a>.  
    	  <a href="/malt/logout/" id="loginlink">[logout]</a>
    	{% endif %}
    </div>
    
    <div class="horizontalmenu">
      <ul>
      
	      <li>
				{% if homesection %}
				  <a href="/malt/" id="selectedbutton">Home</a>
				{% else %}
				  <a href="/malt/">Home</a>
				{% endif %}
	      </li>
      
	      <li>
				{% if drinkssection %}
				  <a href="/malt/drinks/" id="selectedbutton">Drinks</a>
				{% else %}
				  <a href="/malt/drinks/">Drinks</a>
				{% endif %}
	      </li>
      
	      <li>
			  {% if collectionsection %}
					<a href="/malt/collection/" id="selectedbutton">Collection</a>
			  {% else %}
					<a href="/malt/collection/">Collection</a>
			  {% endif %}
	      </li>
	      
	      <li>
        {% if whiskiessection %}
          <a href="/malt/whiskies/" id="selectedbutton">Whiskies</a>
        {% else %}
          <a href="/malt/whiskies/">Whiskies</a>
        {% endif %}
        </li>
        
        <li>
        {% if distilleriessection %}
          <a href="/malt/whiskies/distilleries/" id="selectedbutton">Distilleries</a>
        {% else %}
          <a href="/malt/whiskies/distilleries/">Distilleries</a>
        {% endif %}
        </li>
        
        <li>
          <a href="/malt/admin/">Admin</a>
        </li>

<!--
			  <li>
			  {% if helpsection %}
			    <a href="/malt/help/" id="selectedbutton">Help</a>
			  {% else %}
			    <a href="/malt/help/">Help</a>
			  {% endif %}
			  </li>
  
			  <li>
			  {% if aboutsection %}
			    <a href="/malt/about/" id="selectedbutton">About</a>
			  {% else %}
			    <a href="/malt/about/">About</a>
			  {% endif %}
			  </li>
-->
      </ul>     
      <div id="horizontalmenubar">
      </div>
    </div>


    <div class="verticalmenu">
      {% block sidebar %}{% endblock %}
    </div>

    <div id="content">
      {% block content %}
      {% endblock %}
    </div>

    <div id="footer">
    </div>

  </div>

</body>

</html> 
