<!DOCTYPE html>
<html>

<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Malt</title>
  
  {% load bootstrap3 %}
  
  {# Load CSS and JavaScript #}
  {% bootstrap_css %}
  
  </head>
  
  <body> 
  <div class="container" id="page">
    
    <div class="row" id="header">
      <div style="float: left; padding-left: 20px; padding-top: 10px;">
        <p>
          <h1>Malt</h1>
          <h4>Malted Alcoholic Liquid Tracker</h4>
        </p>
      </div>
    </div>
    
  </div>
  
  <!-- navbar -->
  <div class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/malt/"><i class="glyphicon glyphicon-home"></i> Home</a></li>
          
          <li class="dropdown">
            <a href="/malt/drinks" class="dropdown-toggle" data-toggle="dropdown">Drinks <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/malt/drinks/new"><i class="glyphicon glyphicon-plus"></i> New</a></li>
              <li><a href="/malt/drinks/"><i class="glyphicon glyphicon-list"></i> All</a></li>
              <li><a href="/malt/drinks/my"><i class="glyphicon glyphicon-user"></i> My</a></li>
              <li><a href="/malt/drinks/stats"><i class="glyphicon glyphicon-stats"></i> Statistics</a></li>
            </ul>
          </li>
          
          <li class="dropdown">
            <a href="/malt/collection" class="dropdown-toggle" data-toggle="dropdown">Collection <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/malt/collection/stock"><i class="glyphicon glyphicon-ok-circle"></i> In stock</a></li>
              <li><a href="/malt/collection/all"><i class="glyphicon glyphicon-record"></i> All bottles</a></li>
              <li><a href="/malt/collection/empty"><i class="glyphicon glyphicon-remove-circle"></i> Empty bottles</a></li>
              <li><a href="/malt/admin/bottle/bottle/add"><i class="glyphicon glyphicon-plus"></i> New</a></li>
            </ul>
          </li>
          <li><a href="/malt/whiskies">Whiskies</a></li>
          
          <li><a href="/malt/whiskies/distilleries">Distilleries</a></li>
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Community <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/malt/userprofile"><i class="glyphicon glyphicon-thumbs-up"></i> Friends</a></li>
              <li><a href="/malt/events"><i class="glyphicon glyphicon-globe"></i> Events</a></li>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          {% if not isLoggedin %}
          <li><a href="/malt/login"><i class="glyphicon glyphicon-log-in"></i> <b>Log in</b></a></li>
          <li><a href="/malt/register"><i class="glyphicon glyphicon-pencil"></i> <b>Register</b></a></li>
          {% else %}
          <li class="dropdown">
            <a href="/malt/userprofile/edit/{{ user.id}} class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/malt/logout"><i class="glyphicon glyphicon-log-out"></i> Log out</a></li>
            </ul>
          </li>
          {% endif %}
        </ul>

      </div>
        <!--/.nav-collapse -->
    </div>
  </div>
    
    
  <div class="container">
    
    {% bootstrap_messages %} 
    {% block content %}Empty page{% endblock %}
    
  <p>
    <hr>
  </p>
      
  <footer class="row">
  </footer>
        
  </div>
         

<script src={% bootstrap_jquery_url %} ></script>

{% bootstrap_javascript %}

</body>
        
</html> 
              