{% extends "base/base.html" %}

{% block title %}Malt{% endblock %}

{% block sidebar %}

{% endblock %}


{% block content %}

  {% if event %}

  <center><h3>Event {{ event.tempID }} - {{ event.date|date:"D  d M Y" }} </h3></center>

  <center><h4>Drinks</h4></center>
    <table id="myTable" class="tablesorter">
      
      <thead>
        <tr>
          <th><b>Who</b></th>
          <th><b>Bottle</b></th>
          <th><b>Region</b></th>
          <th><b>Price</b></th>
          <th><b>Volume</b></th>
          <th><b>Date</b></th>
        </tr>
      </thead> 
      
      <tbody>
      {% for drink in event.drinks %}
        <tr>
          <td ><a href="/malt/userprofile/stats/{{ drink.user.id }}/">{{ drink.user }}</a></td>
          <td><b><a href="/malt/collection/bottle/{{ drink.bottle.id }}/">{{ drink.bottle }}</a></b></td>
          <td>{{ drink.bottle.whisky.distillery.region}}</td>
          <td>&euro; {{ drink.price }}</td>
          <td>{{ drink.volume_int }} ml</td>
          <td>{{ drink.date|date:"SHORT_DATE_FORMAT" }}</td>
          </tr>
        </tr>
      {% endfor %}
      </tbody>
    
    </table>

  {% else %}
      <h3>No Events in the database.</h3>
  {% endif %}

{% endblock %}