{% extends "base/base.html" %}

{% block title %}Malt{% endblock %}

{% block sidebar %}

{% endblock %}


{% block content %}

<center><h3>Events</h3></center>

  {% if events_list %}
    <table id="myTable" class="tablesorter">
      
      <thead>
        <tr>
          <th><b>Day</b></th>
          <th><b>Date</b></th>
          <th><b># Drinks</b></th>
          <th><b>Volume</b></th>
          <th><b>Cost</b></th>
          <th><b>Drinkers</b></th>
          <th><b></b></th>
        </tr>
      </thead> 
      
      <tbody>
      {% for event in events_list %}
        <tr>
          <td>{{ event.date|date:"D" }}</td>
          <td>{{ event.date|date:"Y-m-d" }}</td>
          <td>{{ event.nDrinks }}</td>
          <td>{{ event.volume_str }} ml</td>
          <td>&euro; {{ event.cost_str }}</td>
          <td>
            {% for drinker in event.drinkers %}
              {{ drinker }}
            {% endfor %}
          </td>
          <td><a href="/malt/events/{{ event.tempID }}/"><img width=20px src="{{ STATIC_URL }}images/icon_statistics.png" /></a></td>
        </tr>
      {% endfor %}
      </tbody>
    
    </table>

  {% else %}
      <h3>No Events in the database.</h3>
  {% endif %}

{% endblock %}