{% extends "base/base.html" %}

{% block title %}Malt{% endblock %}

{% block sidebar %}
  <h4>
    {{ nBottles }} bottles
    <br />
    {{ totalInStock_L|floatformat:1 }} liter
    <br />
    &euro; {{ total_actual_value|floatformat:0 }}
    <br />
    &euro; {{ value_per_700ml|floatformat:0 }} per bottle
    <br />
    {{ average_percentage_not_empty|floatformat:0 }} % full 
  </h4>
  
  <h4>
    {{ nDrinks }} drinks
    <br />
    {{ totalDrunk_L|floatformat:1 }} liter
    <br />
    &euro; {{ totalCost|floatformat:0 }}
  </h4>
  
  <br />
  <a href="https://bitbucket.org/bartromgens/malt/issues/new">Suggest feature</a>
  <br />
  <a href="https://bitbucket.org/bartromgens/malt/issues/new">Report bug</a>
  <br />
  <a href="https://bitbucket.org/bartromgens/malt/src">Source code</a>
{% endblock %}


{% block content %}
<br/>
<br/>

{% for list in stock_lists %}

  <div style="height:40%">
    {% if list %}
      <br />
      <br />
      <table class="rotate" style="width:250px; height:500px">
  
      {% for bottle in list %}
      <tr>
        <td style="border:0px; padding:0.2em"><b>{{ bottle.distillery.name }} {{ bottle.age_int }}<b/> </td>
        <td style="border:0px; padding:0.2em" >
          <div class="meter-wrap" style="background: #ffffff url({{ STATIC_URL }}images/bottle_meter_outline_28px.png)">
              <div class="meter-value" style="background: #ffffff url({{ STATIC_URL }}images/bottle_meter_outline_28px.png); background-color: #ded05a; width: {{ bottle.statusMeterWidth }}%;">
                  <div class="meter-text">
                  </div>
              </div>
          </div>
        </td>
      </tr>
    {% endfor %}
      </table>
  
    {% else %}
        <p>No bottles available.</p>
    {% endif %}
  </div>

{% endfor %}

{% endblock %}