{% extends "distilleries/base.html" %}

{% block title %}Malt{% endblock %}

{% block content %}

<center><h3>Distilleries</h3></center>

  {% if distilleries_list %}
    <table class="table table-striped">
    
      <thead>
      <tr>
        <th><b>Name</b></th>
        <th><b>Region</b></th>
        <th><b>Image</b></th>
      </tr>
      </thead>
      
      <tbody>
      {% for distillery in distilleries_list %}
        <tr>
          <td><b>{{ distillery.name }}</b></td>
          <td><b>{{ distillery.region }}</b></td>
          {% if distillery.image != '' %}
            <td> <a href="{{ distillery.image }}"><img src="{{ distillery.image }}" height="150px"/></a> </td>
          {% else %}
            <td></td>          
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    
    </table>

  {% else %}
      <p>No distilleries available.</p>
  {% endif %}

{% endblock %}
