{% extends "distilleries/base.html" %}

{% block title %}Malt{% endblock %}

{% block content %}

<center><h3>Distilleries</h3></center>

  {% if distilleries_list %}
  
    <div class="row">
    {% for distillery in distilleries_list %}
    
      <div class="col-sm-3" align="center">
        <div id="fixed-height-distilleries">
          <hr/>
          <h4>{{ distillery.name }}</h4>
          <b>{{ distillery.region }}</b>
          <br>
          {% if distillery.image != '' %}
          <a href="{{ distillery.image }}"><img src="{{ STATIC_URL }}images/distilleries/resize_{{ distillery.name }}.jpg" height="150px" class="img-responsive"/></a>
          {% endif %} 
        </div>
      </div>
  
    {% endfor %}
    </div>
    
  {% else %}
      <p>No distilleries available.</p>
  {% endif %}

{% endblock %}
