{% extends "whiskies/base.html" %}

{% block title %}Malt{% endblock %}

{% block content %}

<center><h3>Whiskies</h3></center>

{% if whiskies_list %}

<div class="row">
  {% for whisky in whiskies_list %}

  <div class="col-sm-3" align="center">
    <div id="fixed-height-whiskies">
      <hr>
      <h4>{{ whisky.distillery }}</h4>
      {{ whisky.name }}
      {% if whisky.age_int == 0 %}
        <h4>-</h4>
      {% else %}
        <h4>{{ whisky.age_int }}</h4>
      {% endif %}
      {{ whisky.alcoholPercentage_int }}%
      <br>
      {{ whisky.distillery.region }}
    </div>
  </div>

  {% endfor %}
</div>

{% else %}
    <p>No whiskies in the database.</p>
{% endif %}

{% endblock %}