body { 
  padding-top: 50px; 
}

#fixed-height-drinks {
  overflow: hidden;
  height: 270px;
}

#fixed-height-bottle {
  overflow: hidden;
  height: 400px;
}

#fixed-height-events {
  overflow: hidden;
  height: 290px;
}
 
#fixed-height-distilleries {
  overflow: hidden;
  height: 270px;
}
 
#fixed-height-whiskies {
  overflow: hidden;
  height: 200px;
}
 
