{% extends "collection/base.html" %}

{% block title %}Malt{% endblock %}

{% block content %}

<center><h3>Collection</h3></center>

  {% if full_collection_list %}
    <table>
    <tr>
      <td><b>Bottle #</b></td>
      <td><b>Distillery</b></td>
      <td><b>Type</b></td>
      <td><b>Age</b></td>
      <td><b>%</b></td>
      <td><b>Region</b></td>
      <td><b>Volume</b></td>
      <td><b>Status</b></td>
      <td><b>Date</b></td>
    </tr>
    {% for bottle in full_collection_list %}
    <tr>
      <td><a href="/transactions/{{ transaction.id }}/">{{ bottle.id }}</a></td>
      <td>{{ bottle.distillery.name }}</td>
      <td>{{ bottle.whisky.name }}</td>
      <td>{{ bottle.whisky.age }}</td>
      <td>{{ bottle.whisky.alcoholPercentage }}</td>
      <td>{{ bottle.distillery.region }}</td>
      <td>{{ bottle.volume_liters }}</td>
      <td>
        <div class="meter-wrap" style="background: #ffffff url({{ STATIC_URL }}/images/bottle_meter_outline_28px.png)">
            <div class="meter-value" style="background: #ffffff url({{ STATIC_URL }}/images/bottle_meter_outline_28px.png); background-color: #ded05a; width: {{ bottle.statusMeterWidth }}%;">
                <div class="meter-text">
                    {{ bottle.percentageLeft }}%
                </div>
            </div>
        </div>
      </td>
      <td>{{ bottle.date|date:"SHORT_DATE_FORMAT"  }}</td>
    </tr>
  {% endfor %}
    </table>

  {% else %}
      <p>No polls are available.</p>
  {% endif %}

{% endblock %}