{% extends "collection/base.html" %}


{% block title %}Malt{% endblock %}

{% block content %}

<center><h3>Collection</h3></center>

  {% if full_collection_list %}
    <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th><b>#</b></th>
      <th><b>Distillery</b></th>
      <th><b>Type</b></th>
      <th><b>Age</b></th>
      <th><b>%</b></th>
      <th><b>Region</b></th>
      <th><b>Vol.</b></th>
      <th><b>Status</b></th>
      <th><b>Price</b></th>
      <th><b>Date</b></th>
      <th><b></b></th>
    </tr>
    </thead> 
    <tbody>
    {% for bottle in full_collection_list %}
    <tr>
      <td>{{ bottle.id }}</td>
      <td><b>{{ bottle.distillery.name }}</b></td>
      <td>{{ bottle.whisky.name }}</td>
      {% if bottle.age_int == 0 %}
      <td><b> - </b></td>
      {% else %}
      <td><b>{{ bottle.age_int }}</b></td>
      {% endif %}
      <td>{{ bottle.alcoholPercentage_int }}</td>
      <td><b>{{ bottle.distillery.region }}</b></td>
      <td>{{ bottle.volume_liters }} L</td>
      <td>
        <div class="meter-wrap" style="background: #ffffff url({{ STATIC_URL }}images/bottle_meter_outline_28px.png)">
            <div class="meter-value" style="background: #ffffff url({{ STATIC_URL }}images/bottle_meter_outline_28px.png); background-color: #ded05a; width: {{ bottle.statusMeterWidth }}%;">
                <div class="meter-text">
                    {{ bottle.percentageLeft }}%
                </div>
            </div>
        </div>
      </td>
      <td>&euro; {{ bottle.price }}</td>
      <td>{{ bottle.date|date:"Y-m-d" }}</td>
      <td> <a href="/malt/collection/bottle/{{ bottle.id }}/"><img width=20px src="{{ STATIC_URL }}images/icon_statistics.png" /></a></td>
    </tr>
    {% endfor %}
    </tbody> 
    </table>

  {% else %}
      <p>No bottles available.</p>
  {% endif %}



{% endblock %}

