{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block title %}Malt{% endblock %}

{% block content %}

<center><h3>Collection</h3></center>

{% if full_collection_list %}

<div class="row">
  {% for bottle in full_collection_list %}

  <div class="col-xs-2" align="center">
      <a href="./#{{ bottle.id }}"><img src="{{ bottle.imagename }}" height="100"/></a>
      <br>
       {{ bottle.age_int }}
  </div>

  {% endfor %}
</div>

<div class="row">
  {% for bottle in full_collection_list %}

  <div class="col-sm-3" align="center">
    <a name="{{ bottle.id }}"></a>
    <div id="fixed-height-drinks">
      <hr>
        <h3><a href="/collection/bottle/{{ bottle.id }}" name="{{ bottle.id }}">{{ bottle.distillery.name }}</a></h3>
        {{ bottle.whisky.name }}
        <br>
        <br>
  
        <a href="/collection/bottle/{{ bottle.id }}"><img src="{{ bottle.imagename }}" height="200"/></a>
        
        {% if bottle.age_int == 0 %}
        <h4> - </h4>
        {% else %}
        <h4>{{ bottle.age_int }}</h4>
        {% endif %}
  
        <div class="progress" style="width:80%">
          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ bottle.percentageLeft }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ bottle.percentageLeft }}%">
          </div>
        </div>
        <a href="/drinks/new/{{ bottle.id }}"><i class="glyphicon glyphicon-plus"></i></a>
    </div>
  </div>

  {% endfor %}
</div>

{% else %}
  <p>No bottles available.</p>
{% endif %}

{% endblock %}

