{% extends "collection/base.html" %}

{% block title %}Malt{% endblock %}

{% block content %}

<center><h3>Collection overview</h3></center>
<br />
{% for list in stock_lists %}

  <div style="height:40%">
    {% if list %}
      <br />
      <br />
      <table class="rotate" style="width:250px; height:500px">
  
      {% for bottle in list %}
      <tr>
        <td style="border:0px; padding:0.2em"><b>{{ bottle.distillery.name }} {{ bottle.age_int }}<b/> </td>
        <td style="border:0px; padding:0.2em" >
          <div class="meter-wrap" style="background: #ffffff url({{ STATIC_URL }}images/bottle_meter_outline_28px.png)">
              <div class="meter-value" style="background: #ffffff url({{ STATIC_URL }}images/bottle_meter_outline_28px.png); background-color: #ded05a; width: {{ bottle.statusMeterWidth }}%;">
                  <div class="meter-text">
                  </div>
              </div>
          </div>
        </td>
      </tr>
    {% endfor %}
      </table>
  
    {% else %}
        <p>No bottles available.</p>
    {% endif %}
  </div>

{% endfor %}

{% endblock %}