{% extends "drinks/base.html" %}

{% block title %}Malt{% endblock %}

{% block content %}

<center><h3>Drinks </h3></center>

{% if all_drinks_list %}

<div class="row">
  {% for drink in all_drinks_list %}
  {% if drink.isnewdate %}
  {% if not forloop.first %}
  </div>
  {% endif %}
  <div class="row">
    <div class="col-sm-2" align="center">
      <div id="fixed-height-drinks">
        <hr/>
        <h4>{{ drink.date|date:"D d M" }}</h4>
        <br/>
        <br/>
        <img src="{{ STATIC_URL }}images/glencairn_whisky_glass.jpg" height="100"/>
      </div>
    </div>
  {% endif %}
    <div class="col-sm-2" align="center">
      <div id="fixed-height-drinks">
        <hr/>
        <h4><a href="/userprofile/stats/{{ drink.user.id }}/">{{ drink.user }}</a></h4>
        <a href="/collection/bottle/{{ drink.bottle.id }}"><img src="{{ drink.bottle.imagename }}" height="100"/></a>
        <h4><a href="/collection/bottle/{{ drink.bottle.id }}/">{{ drink.bottle.whisky.distillery }}</a></h4>
        <h4>{{ drink.bottle.age_int }}</h4>
        &euro; {{ drink.price }}
      </div>
    </div>
  
  {% if forloop.last %}
  </div>
  {% endif %}
  
  {% endfor %}
</div>

{% else %}
  <p>No drinks in the database.</p>
{% endif %}

{% endblock %}
