{% extends "drinks/base.html" %}

{% block title %}Malt{% endblock %}

{% block content %}

<center><h3>Drinks </h3></center>

  {% if all_drinks_list %}
    <table id="myTable" class="tablesorter">
      
      <thead>
        <tr>
          <th><b>Who</b></th>
          <th><b>Bottle</b></th>
          <th><b>Region</b></th>
          <th><b>Price</b></th>
          <th><b>Vol</b></th>
          <th><b>Sound</b></th>
          <th><b>Date</b></th>
        </tr>
      </thead> 
      
      <tbody>
      {% for drink in all_drinks_list %}
        <tr>
          <td ><a href="/malt/userprofile/stats/{{ drink.user.id }}/">{{ drink.user }}</a></td>
          <td><b><a href="/malt/collection/bottle/{{ drink.bottle.id }}/">{{ drink.bottle }}</a></b></td>
          <td>{{ drink.bottle.whisky.distillery.region}}</td>
          <td>&euro; {{ drink.price }}</td>
          <td>{{ drink.volume_int }} ml</td>
          {% if drink.bottle.whisky.distillery.sound %}
            <td><a href="{{ STATIC_URL }}sounds/{{ drink.bottle.whisky.distillery.name }}.wav">play</a></td>
          {% else %}
            <td>-</td>
          {% endif %}
          <td>{{ drink.date|date:"Y-m-d" }}</td>
          </tr>
      {% endfor %}
      </tbody>
    
    </table>

  {% else %}
      <p>No drinks in the database.</p>
  {% endif %}

<script type="text/javascript">
  var YWPParams = 
  {
    autoadvance: false,
    displaystate: 3
  };
</script>
<script src="http://mediaplayer.yahoo.com/js"></script>

{% endblock %}
