{% extends "drinks/base.html" %}

{% block title %}Malt{% endblock %}

{% block content %}

<center><h3>Drinks</h3></center>

  {% if all_drinks_list %}
    <table id="myTable" class="tablesorter">
    <thead>
      <tr>
        <th><b>Who</b></th>
        <th><b>Bottle</b></th>
        <th><b>Volume</b></th>
        <th><b>Price</b></th>
        <th><b>Date</b></th>
      </tr>
    </thead> 
    <tbody>
    {% for drink in all_drinks_list %}
      <tr>
        <td >{{ drink.user }}</td>
        <td><b>{{ drink.bottle }}</b></td>
        <td>{{ drink.volume_int }} ml</td>
        <td>&euro; {{ drink.price }}</td>
        <td>{{ drink.date|date:"SHORT_DATE_FORMAT"  }}</td>
      </tr>
    {% endfor %}
    </tbody>
    </table>

  {% else %}
      <p>No polls are available.</p>
  {% endif %}

{% endblock %}